.navigation {
    height: 60px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 25px;
    background-color: var(--bgcolor-light);
    position: fixed;
    bottom: 0px;
    border-radius: 10px 10px 0 0;
}

.navigation__pagination {
    display: grid;
    place-items: center;
}
