* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: rgb(0, 0, 0);
    --color-secondary: rgb(255, 255, 255);
    --bgcolor-light: rgb(255, 255, 255);
    --bgcolor-dark: rgb(0, 0, 0);
    --bgcolor-green: rgb(220, 236, 205);
    --bgcolor-yellow: rgb(255, 238, 0);
    --accent-color: rgb(90, 135, 45);
    --font-family: system-ui;
}

body {
    font-family: var(--font-family);
    color: var(--color-primary);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bgcolor-yellow);
}

.title {
    color: var(--accent-color);
    padding: 10px 0;
    text-transform: uppercase;
    text-shadow: 4px 4px 0 #fff, 4px -4px 0 #fff, -4px 4px 0 #fff, -4px -4px 0 #fff, 4px 0px 0 #fff, 0px 4px 0 #fff, -4px 0px 0 #fff, 0px -4px 0 #fff,
        4px 4px 4px #fff;
}
