@import "components/MatrixBackground/MatrixBackground.css";
@import "components/SearchBar/SearchBar.css";
@import "components/NavButton/NavButton.css";
@import "components/NavPagination/NavPagination.css";
@import "components/CharacterCard/CharacterCard.css";
@import "global.css";
