.header {
    background: var(--bgcolor-yellow);
    background: linear-gradient(0deg, rgba(255, 238, 0, 0) 20%, rgba(255, 238, 0, 1) 100%);
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 -5 5px;
}

.search-bar-container {
    width: 300px;
}

.search-bar {
    padding: 10px 20px;
    background-color: var(--bgcolor-light);
    display: grid;
    grid-template-columns: 1fr 24px;
    border-radius: 30px;
    border: 3px solid var(--accent-color);
    margin-bottom: 10px;
}

.search-bar__input {
    background-color: transparent;
    border: none;
    color: var(--color-primary);
    font-size: 18px;
}

.search-bar__button {
    border: none;
    background-color: transparent;
}

.search-bar__input:focus {
    outline: none;
}

.search-bar__icon {
    width: 20px;
}
